@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #B8E4FB;
    border-radius: 5px;
    margin: 2px 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #009bda;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0078A5;
  }

  .left-up-triangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  .left-down-triangle {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }

  .right-up-triangle {
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  .right-down-triangle {
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
}
