{% extends 'base.html' %}
{% load static %}


{% block title %}Home | HV{% endblock %}

{% block content %}
    <section id="hero">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'assets/images/hero.jpg' %}" class="d-block mx-lg-auto rounded-full img-fluid" alt="Hero-Image" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Health Vault</h1>
            <h4 class="text-primary">Your Health. Your History. Your Vault.</h4>
            <p class="lead">At Health Vault, we believe in putting your health in your hands. Our platform is designed to seamlessly integrate into your life, providing you with a secure and accessible way to manage your medical records.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="{% url 'login' %}" class="text-decoration-none"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</button></a>
              <a href="{% url 'register' %}" class="text-decoration-none"><button type="button" class="btn btn-outline-primary btn-lg px-4">Register</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}