{% extends 'base.html' %}
{% load static %}


{% block title %}Home | HV{% endblock %}

{% block content %}
    <section id="hero">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'assets/images/hero.jpg' %}" class="d-block mx-lg-auto rounded-full img-fluid" alt="Hero-Image" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Health Vault</h1>
            <h4 class="text-primary">Your Health. Your History. Your Vault.</h4>
            <p class="lead">At Health Vault, we believe in putting your health in your hands. Our platform is designed to seamlessly integrate into your life, providing you with a secure and accessible way to manage your medical records.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="{% url 'login' %}" class="text-decoration-none"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</button></a>
              <a href="{% url 'register' %}" class="text-decoration-none"><button type="button" class="btn btn-outline-primary btn-lg px-4">Register</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="container my-5">
      <div class="text-center">
          <h1>About Us</h1>
      </div>
  
      <div class="my-4">
          <h3 class="text-primary">Empowering You, Transforming Healthcare</h3>
          <p class="text-secondary lead">
              At Health Vault, we believe in putting your health in your hands. Our platform is designed to seamlessly integrate into your life, providing you with a secure and accessible way to manage your medical records.
          </p>
      </div>
      <div class="my-4">
          <h3 class="text-primary">Key Features</h3>
          <ul class="list-unstyled">
              <li>
                  <p class="text-secondary lead"><p class="text-secondary lead"><b>Your Digital Health Space:</b> Register easily and create your own Health Vault account, your personalized digital space for all your health records.</p>
              </li>
              <li>
                  <p class="text-secondary lead"><b>Upload with Ease:</b> Store and organize your medical records effortlessly. No more paper clutter or misplaced documents.</p>
              </li>
              <li>
                  <p class="text-secondary lead"><b>Share with Confidence:</b> Receive a unique QR code linked to your health history. Share it with healthcare professionals, ensuring they have the complete picture.</p>
              </li>
          </ul>
      </div>
      <div class="my-4">
          <h3 class="text-primary">Why Health Vault?</h3>
          <ul class="list-unstyled">
              <li>
                  <p class="text-secondary lead"><b>Your Health, Your Control:</b> Take charge of your health journey by having all your medical information at your fingertips.</p>
              </li>
              <li>
                  <p class="text-secondary lead"><b>Effortless Collaboration:</b> Streamline interactions with doctors and hospitals. No more scrambling for old records or filling out redundant forms.</p>
              </li>
              <li>
                  <p class="text-secondary lead"><b>Security First:</b>  Rest easy knowing your data is secure. We prioritize the privacy and confidentiality of your health information.</p>
              </li>
          </ul>
      
      </div>
      <div class="my-4">
          <h3 class="text-primary">Join Us in Shaping the Future of Healthcare</h3>
          <p class="text-secondary lead">Health Vault is more than just a platform; it's a movement towards accessible, efficient, and patient-centric healthcare. Join us in this revolution – sign up for your Health Vault today.</p>
      
      </div>
  
  </section>
    
{% endblock %}