{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id='login' class="my-auto mx-3">
    <div class="container my-5 rounded p-3 border border-primary">
      <div class="text-center text-primary">
        <h2>Add a new record</h2>
        <p class="lead text-primary">Please fill in these details to add a new medical record.</p>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
          <form action="/record-create" method="POST" class="" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="record_name" class="form-label text-primary">Record Name:</label>
            <input type="text" class="form-control" name="record_name" placeholder="Enter the name of record">

            <label for="record_doctor" class="form-label text-primary">Doctor:</label>
            <input type="text" class="form-control" name="record_doctor" placeholder="Enter the name of doctor">

            <label for="record_date" class="form-label text-primary">Date:</label>
            <input type="date" class="form-control" name="record_date" placeholder="">
            
            <!-- <label for="email" class="form-label text-secondary">Email Address:</label>
            <input type="email" class="form-control" id="email" placeholder="e.g. xyz@example.com"> -->
            
            <div class="my-3">
                <label for="record_file" class="form-label text-primary">Upload related document:</label>
                <input type="file" name="record_file" accept=".pdf, .doc, .docx" class="" >
            </div>
            
            <div class="my-4 text-center">
              <button type="submit" class="btn btn-md btn-primary">Submit</button>
            </div>
            
            <div class="text-start">
              <p class="text-primary">&copy; Copyright Team Tron 2024</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}