.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 6px;
}

.nav-logo-container{
    display: flex;
    color: blue;
    align-items: center;
    gap: 5px;
}

.nav > ul{
    display: none;
    gap: 12px;
    list-style: none;
}

.nav > ul > li > a{
    text-decoration: none;
}

.nav > ul > li > a{
    color: black;
}

@media (width >= 1000px) {
    .nav > ul {
        display: flex;
    }

    .ham-menu{
        display: none;
    }

    .close-ham-menu{
        display: none;
    }
}