{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block title %}Register | HV{% endblock %}

{% block content %}

{% if messages %}
  <ul class="messages" style="list-style: none; color: white;">
    {% for message in messages %}
      <div style="margin:10px;" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </ul>
{% endif %}

<section id='register' class="my-auto mx-3">
  <div class="container my-5 rounded p-3 border border-primary">
    <div class="text-center text-primary">
      <h2>Sign Up</h2>
      <p class="lead text-primary">Please sign up and be known.</p>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-lg-6">
        <form action="/register" method="POST" class="">
          {% csrf_token %}
          
          {{form.as_p}}

          <div class="my-3">
            <a href="{% url 'login' %}" class="text-decoration-none">Already an user? Sign in</a>
          </div>
          
          <div class="my-4 text-center">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
          <div class="text-start">
            <p class="text-primary">&copy; Copyright Team Tron 2024</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}